body {
    font-family: Georgia, serif;
    background-color: #E6EFF7;
    color: #3A2D34;
    margin: 0;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    margin: 0;
    color: #3F2A52;
    font-size: 36px;
    letter-spacing: 2px;
}

table {
    width: 95%;
    margin: auto;
    background-color: #E6EFF7;
    color: #3A2D34;
    border-collapse: collapse;
}

th {
    border: 2px solid #3A2D34;
    padding: 10px;
    font-size: 20px;
    background-color: #75619D;
    color: #E6EFF7;
}

td {
    border: 2px solid #3A2D34;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

.table-title {
    background-color: #3F2A52;
    color: #E6EFF7;
    font-size: 28px;
    padding: 12px;
}

td img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background-color: #E6EFF7;
}

tr:nth-child(even) {
    background-color: #BEAEDB;
}

tr:nth-child(odd) {
    background-color: #E6EFF7;
}